/* resources/css/app.css */

/* Navbar fixo no topo */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #1f2937;
  color: #fff;

  position: fixed; /* fixo no topo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* sempre sobre o conteúdo */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Espaço para não ficar coberto pelo navbar */
body, .container {
    padding-top: 80px; /* ajusta conforme a altura do navbar */
}

/* Links da navbar */
.navbar a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
}
